#1
text = str(input())
print(text.replace('c','v'))
print(text.count('c'))
#2
text = str(input())
number = text.count('c')
number = number + text.count('C')
text_print = text.replace('c','v')
print(text_print.replace('C','V'))
print(number)
#3
text = str(input())
number = text.count('c') * 2
number = number + text.count('C') * 2
number = number + text.count('v')
number = number + text.count('V')
text_print = text.replace('c','v')
text_print = text_print.replace('C','V')
text_print = text_print.replace('v','c')
print(text_print.replace('V','C'))
print(number)
#4
text = input()
number = text.find(" ")
if number != -1:
    print(text[0:number])
else:
    print(text)
#5
 text = input()
number = text.rfind(" ")
if number != -1:
    print(text[number:])
else:
    print(text)
#6
text = input()
words = text.split()
maxstr = ""
for elem in words:
    if len(elem) > len(maxstr):
        maxstr=elem
        print("var1")
print(maxstr)
print(len(maxstr))
#7
text = input()
words = text.split()
print(len(words))
#8
text = str(input())
txet = text[::-1]
if text == txet:
  print("yes")
else:
  print("no")
#9
text = str(input())
text.strip()
txet = text[::-1]
if text == txet:
  print("yes")
else:
  print("no")
#10
text = str(input())
words = text.split("\\")
for elem in words:
    print(elem)
#11
text = str(input())
words = text.split()
inp = words[0] +' '+ (words[1])[0:1] + '.' + (words[2])[0:1] + '.'
print(inp)
#12
text = str(input())
words = text.split()
inp = (words[1])[0:1] + '.' + (words[2])[0:1] + '.' + words[0]
print(inp)
